body
{
  background-color: orange;
}
.protop
{
  width:100%;
  height: 600px;
}
ul
{
  list-style: none;
padding-left: 0;
}
.profile-content
{
  background-color: #FDC4B8;
}
.presentation-subtitle
{

}
